$timeline-margin: $big-margin * 5;

.agenda {
  text-align: left;
  .timeline {
    z-index: -1;
    margin-right: -$timeline-margin;
    margin-left: -$timeline-margin;
    padding-right: $timeline-margin;
    padding-left: $timeline-margin;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgb(247, 247, 247) 20%,
      rgb(247, 247, 247) 50%,
      rgb(247, 247, 247) 80%,
      rgba(255, 255, 255, 0.9) 100%
    );
    .timeline-scroll {
      overflow-x: scroll;
      overflow-y: hidden;
    }
    .timeline-elements {
      display: grid;
      grid-template-columns: repeat(27, 1fr);
      width: $max-width;
      background-size: 134px;
      background-image: url("./../../assets/images/timeline-bar.svg");
      background-repeat: repeat;
      background-position: left;
      .element {
        display: inline-block;
        border-radius: 66px;
        height: 66px;
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: $green;
        opacity: 22%;
      }
      .element1 {
        grid-column-start: 5;
        grid-column-end: 10;
      }
      .element2 {
        grid-column-start: 2;
        grid-column-end: 5;
      }
      .element3 {
        grid-column-start: 18;
        grid-column-end: 26;
        grid-row: 1;
      }
    }
  }
}
