$timeline-margin: $big-margin * 5;

.agenda {
  text-align: left;
  .timeline {
    overflow: hidden;
    position: relative;
    z-index: 0;
    margin-right: -$timeline-margin;
    margin-left: -$timeline-margin;
    padding-right: $timeline-margin;
    padding-left: $timeline-margin;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgb(247, 247, 247) 20%,
      rgb(247, 247, 247) 50%,
      rgb(247, 247, 247) 80%,
      rgba(255, 255, 255, 0.9) 100%
    );
    background-size: auto;
    background-repeat: no-repeat;
    .timeline-scroll {
      overflow-x: auto;
      .timeline-time {
        display: grid;
        grid-template-columns: repeat(18, 1fr);
        margin-bottom: $smaller-margin;
        width: $max-width;
        span {
          justify-self: center;
          &:first-child {
            justify-self: flex-start !important;
          }
          &:last-child {
            justify-self: flex-end !important;
          }
        }
        &::before {
          z-index: -1;
          content: "";
          background-color: $white;
          width: 100%;
          left: 0;
          position: absolute;
          margin-top: -38px;
          height: 68px;
        }
      }
      .timeline-elements {
        margin-bottom: $big-margin;
        display: grid;
        grid-template-columns: repeat(27, 1fr);
        width: $max-width;
        background-size: 134px;
        background-image: url("./../../assets/images/timeline-bar.svg");
        background-repeat: repeat;
        background-position: left;
        &:last-child {
          margin-bottom: 0;
        }
        .element {
          display: inline-block;
          border-radius: 66px;
          height: 66px;
          grid-column-start: 1;
          grid-column-end: 3;
          background-color: $green;
          opacity: 0.22;
        }
        .element1 {
          grid-column-start: 5;
          grid-column-end: 10;
        }
        .element2 {
          grid-column-start: 2;
          grid-column-end: 5;
        }
        .element3 {
          grid-column-start: 18;
          grid-column-end: 26;
          grid-row: 1;
        }
      }
    }
  }
  span {
    font-size: 1rem;
  }
}
