$timeline-margin: $big-margin * 5;

.agenda {
  text-align: left;
  .timeline {
    height: 104px;
    z-index: -1;
    margin-right: -$timeline-margin;
    margin-left: -$timeline-margin;
    padding-right: $timeline-margin;
    padding-left: $timeline-margin;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgb(247, 247, 247) 20%,
      rgb(247, 247, 247) 50%,
      rgb(247, 247, 247) 80%,
      rgba(255, 255, 255, 0.9) 100%
    );
    .timeline-scroll {
      overflow-x: scroll;
      height: 104px;
    }
    .timeline-elements {
      background-image: url("./../../assets/images/timeline-bar.svg");
      background-repeat: repeat-x;
      background-position: left;
      width: $max-width;
      height: 87.3px;
      display: grid;
      grid-template-columns: repeat(27, 1fr);
    }
  }
}
