.center {
  text-align: center;
  img,
  p {
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    width: 100%;
  }
}
.half-gray {
  background: url(../../assets/images/blue-bg.svg),
    url(../../assets/images/gray-bg.svg);
  background-position: left bottom, left top;
  background-size: 14.27rem auto, 50% auto;
  background-repeat: no-repeat, repeat-y;
}
.half-neutral {
  background: url(../../assets/images/neutral-bg.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 83.6rem;
}
.image-indicator {
  position: relative;
  img {
    width: 100%;
  }
  .indicator {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: calc(var(--margin-l) * -1);
    margin-right: calc(var(--margin-l) * -1);
    width: 67%;
    height: 54%;
    background-color: $main-blue;
  }
}
