footer {
  padding-top: var(--biggest-margin);
  padding-bottom: var(--biggest-margin);
  background: url("./../../assets/images/gray-white-bg.svg"), $main-lgray;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 85rem, auto;
  .container {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--min-column-width), 1fr)
    );
    gap: var(--biggest-margin);
  }
  h3 {
    margin-top: 0;
    margin-bottom: var(--margin);
  }
  a {
    font-size: var(--m-font-size);
  }
  .adress,
  .mail {
    font-size: var(--m-font-size);
  }
  .adress {
    line-height: 1.14;
    margin-bottom: var(--smaller-margin);
  }
  .mail {
    display: inline-block;
    margin-top: var(--big-margin);
  }
  .social-icons {
    a {
      margin-right: var(--margin);
    }
    img {
      height: 0.77rem;
    }
  }
  .copyrights-links {
    grid-column-start: 1;
  }
  .copyrights-text {
    text-align: right;
  }
}
@media all and (max-width: 840px) {
  footer {
    .copyrights-text {
      text-align: left;
    }
  }
}
