.hero {
  text-align: center;
  background-image: url("./../../assets/images/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 42.22rem;
  img {
    margin-bottom: $big_margin * 1.7;
  }
}
