.list-of-elements {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--biggest-margin);
  .element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--big-margin);
    img {
      height: 2.44rem;
      margin-bottom: $margin;
    }
  }
}
