$size: 3.77rem;

.list-of-organisers {
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  .organiser {
    padding: $margin $big-margin;
    .profile {
      display: inline-flex;
      align-items: center;
      text-align: left;
      margin-bottom: $small-margin;
      p,
      h3 {
        margin: 0 !important;
      }
    }
  }
  .image-wrapper {
    margin-right: $margin;
    width: $size;
    height: $size;
    border-radius: 50%;
    overflow: hidden;
  }
}
