$sponsors-margin: $margin + $small-margin;

.list-of-sponsors {
  h3 {
    margin-bottom: $sponsors-margin;
    margin-top: $big-margin;
    &:first-child {
      margin-top: 0;
    }
  }
  .sponsors {
    gap: $sponsors-margin;
    align-items: center;
  }
  img {
    width: 100%;
  }
}
