.list-of-elements {
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--min-column-width), 1fr)
  );
  gap: var(--bigger-margin);
  .element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--big-margin);
    img {
      height: 2.44rem;
      margin-bottom: var(--margin);
    }
  }
}
