.list-of-elements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: $big-margin * 2;
  text-align: center;
  .element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $big-margin;
    background-color: $white;
    img {
      height: 2.44rem;
    }
    p {
      margin-top: $small-margin;
      margin-bottom: $big-margin;
      font-size: $m_font-size;
      line-height: 1.6;
    }
  }
}
