nav {
  position: absolute;
  width: 100%;
  padding: $margin 0;
  background-color: $white-opacity;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
  }
  img {
    height: $big-margin * 1.2;
  }
  a {
    margin-right: $big-margin;
    &:hover {
      color: $main-blue;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .active {
    color: $main-blue;
    border-color: $main-blue;
    &:hover {
      color: $main-black;
      border-color: $main-black;
    }
  }
}
