nav {
  position: absolute;
  width: 100%;
  padding: $margin 0;
  background-color: rgba($white, 0.9);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img {
    height: $big-margin * 1.2;
  }
  .active {
    color: $main-blue;
    border-color: $main-blue;
    &:hover {
      color: $main-black;
      border-color: $main-black;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
      &:last-child {
        margin-right: calc(var(--big-margin) * -1);
      }
    }
  }
  .hambuerger {
    display: none;
    input {
      display: block;
      margin: 0;
      width: 33px;
      height: 19px;
      position: absolute;
      opacity: 0;
      z-index: 2;
      &:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-1px, -1px);
      }
      &:checked ~ span:nth-last-child(2) {
        opacity: 0;
        transform: rotate(0deg) scale(0.1, 0.1);
      }
      &:checked ~ span:nth-last-child(1) {
        transform: rotate(-45deg) translate(-1px, 2px);
      }
    }
    span {
      display: block;
      width: 33px;
      height: 3px;
      margin-bottom: 5px;
      position: relative;
      background: $main-black;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.55s ease;
      &:first-child {
        transform-origin: 0% 0%;
      }
      &:nth-last-child(1) {
        transform-origin: 0% 100%;
        margin-bottom: 0;
      }
    }
  }
}

@media all and (max-width: 750px) {
  nav {
    ul {
      display: none;
    }
    .hambuerger {
      display: inline-block;
    }
  }
}
