.registration {
  padding-top: $bigger-margin * 2 + $smaller-margin;
  background: url(../../assets/images/registration-bg.svg);
  background-position: center top;
  background-size: 85.27rem auto;
  background-repeat: no-repeat;
  .two-columns {
    grid-template-columns: auto auto;
  }
  .introduction {
    h1 {
      margin-top: $small-margin;
      margin-bottom: 0;
    }
    h3 {
      margin: 0;
    }
  }

  form {
    margin-top: $big-margin;
    label {
      margin-right: $margin;
      margin-bottom: $margin;
      display: inline-block;
    }
    input {
      line-height: 1.5;
      margin-top: $smaller-margin;
      padding: $smaller-margin $small-margin;
      font-size: 1rem;
      border: $border;
      display: block;
    }
    a {
      margin-left: $smaller-margin;
    }
  }
  .checkbox {
    input[type="checkbox"] {
      display: none;
    }
    label {
      position: relative;
      display: inline-block;
      padding-left: $margin + $small-margin;
      margin-bottom: $big-margin;
      &::before,
      &::after {
        position: absolute;
        content: "";
        display: inline-block;
      }
      &::before {
        height: 0.888rem;
        width: 0.888rem;
        top: 0.111rem;
        left: 0;
        border: $border;
      }
      &::after {
        height: 0.277rem;
        width: 0.5rem;
        border-left: $border;
        border-bottom: $border;
        transform: rotate(-45deg);
        left: 0.223rem;
        top: 0.388rem;
      }
    }
    input[type="checkbox"] + label::after {
      content: none;
    }
    input[type="checkbox"]:checked + label::after {
      content: "";
    }
  }
  img {
    justify-self: flex-end;
    align-self: center;
    height: 18.444rem;
  }
}
