.registration {
  padding-top: calc(var(--bigger-margin) * 2 + var(--smaller-margin));
  background: url(../../assets/images/registration-bg.svg);
  background-position: center top;
  background-size: 85.27rem auto;
  background-repeat: no-repeat;
  .two-columns {
    grid-template-columns: auto auto;
  }
  .introduction {
    h1 {
      margin-bottom: var(--big-margin);
    }
  }
  form {
    label {
      margin-right: var(--margin);
      margin-bottom: var(--margin);
      display: inline-block;
    }
    input {
      margin-top: var(--smaller-margin);
      padding: var(--smaller-margin) var(--small-margin);
      border: $border;
      display: block;
    }
    a {
      margin-left: var(--smaller-margin);
    }
  }
  .checkbox {
    input[type="checkbox"] {
      opacity: 0;
      margin: 0;
      height: 0;
    }
    label {
      position: relative;
      display: inline-block;
      padding-left: calc(var(--margin) + var(--small-margin));
      margin-bottom: var(--big-margin);
      &::before,
      &::after {
        position: absolute;
        content: "";
        display: inline-block;
      }
      &::before {
        height: 0.888rem;
        width: 0.888rem;
        top: 0.111rem;
        left: 0;
        border: $border;
      }
      &::after {
        height: 0.277rem;
        width: 0.5rem;
        border-left: $border;
        border-bottom: $border;
        transform: rotate(-45deg);
        left: 0.223rem;
        top: 0.388rem;
      }
    }
    input[type="checkbox"] + label::after {
      content: none;
    }
    input[type="checkbox"]:checked + label::after {
      content: "";
    }
    input[type="checkbox"]:focus + label::before {
      outline: rgb(59, 153, 252) auto 5px;
    }
  }
  img {
    justify-self: flex-end;
    align-self: center;
    width: 100%;
  }
  @media all and (max-width: 750px) {
    img {
      display: none;
    }
  }
}
