.small-hero {
  background-image: url("./../../assets/images/small-hero-bg.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 28.3rem;
  img {
    justify-self: flex-end;
  }
}
