$root_font-size: 18px;

:root {
  --root-font-size: #{$root_font-size};
  --xxl-font-size: 3.444rem;
  --xl-font-size: 2.6rem;
  --l-font-size: 1.3rem;
  --m-font-size: 0.898rem;
}

// Tymczasowo
$xxl_font-size: 3.444rem;
$l_font-size: 1.3rem;
$m_font-size: 0.898rem;

@font-face {
  font-family: "PT Sans";
  src: url("./../../assets/fonts/PTS55F.woff");
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("./../../assets/fonts/PTS75F.woff");
  font-weight: bold;
}

html {
  font-family: "PT Sans";
  font-size: $root_font-size;
  color: $main-black;
}
