$max-width: 1208px;
$media-max-width: 750px;

:root {
  --margin-xxs: 8px;
  --margin-xs: 16px;
  --margin-s: 24px;
  --margin-m: 32px;
  --margin-l: 40px;
  --margin-xl: 56px;
  --margin-xxl: 64px;
  --margin-xxxl: 88px;
  --section-margin: 96px;
  --two-min-column: 380px;
  --three-min-column: 360px;
  --footer-min-column: 340px;
  --header-margin-top: 134px;
}
@media all and (max-width: $media-max-width) {
  :root {
    --margin-s: 16px;
    --margin-m: 24px;
    --margin-l: 32px;
    --margin-xl: 48px;
    --margin-xxl: 56px;
    --margin-xxxl: 80px;
    --section-margin: 88px;
  }
}

header {
  padding-top: var(--header-margin-top);
  padding-bottom: var(--section-margin);
}
.container {
  margin: auto;
  max-width: $max-width;
  padding: 0 var(--margin-xs);
}
.two-columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--two-min-column), 1fr));
  gap: var(--margin-xl);
  // Remove margin-bottom from last child of parent
  div > :last-child {
    margin-bottom: 0;
  }
}
.half-right {
  text-align: left;
  position: relative;
  left: 50%;
  margin-left: var(--margin-xs);
}
section {
  overflow: hidden;
  padding-top: var(--margin-xl);
  padding-bottom: var(--section-margin);
}
.list {
  display: grid;
  gap: var(--margin-m);
  & > div {
    background-color: $white;
  }
}
.event {
  .image-wrapper {
    margin: 5px;
    height: 52px;
    width: 52px;
    border-width: 3px;
    border-style: solid;
    overflow: hidden;
    border-radius: 50%;
  }
}

@media all and (max-width: 864px) {
  .reverse {
    div:last-child {
      grid-row-start: 1;
    }
  }
}
@media all and (max-width: 720px) {
  .half-right {
    text-align: center;
    position: relative;
    left: 0;
    margin-left: 0;
  }
}
@media all and (max-width: 450px) {
  :root {
    --footer-min-column: 267px;
    --two-min-column: 260px;
    --three-min-column: var(--two-min-column);
  }
}
