$margin: 1.067rem;
$smaller-margin: 0.3751 * $margin;
$small-margin: $smaller-margin * 2;
$big-margin: $margin * 2;
$bigger-margin: $margin * 3;

$border: solid 0.111rem $main-black;
$border-radius: 0.6666rem;

$box-shadow: 0px 12.4px 49.3px 0px rgba(0, 0, 0, 0.24);

a {
  color: $main-black;
  text-decoration: none;
}

section {
  a {
    font-size: $m_font-size;
    color: $main-blue;
  }
}

.nav-link {
  margin-right: $big-margin;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    color: $main-blue;
  }
}

// h1
.title {
  line-height: 1.12;
  font-size: $xxl_font-size;
  letter-spacing: 0.011rem;
  margin-bottom: $big-margin * 2.7;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

h1 {
  font-size: 2.6rem;
  letter-spacing: 0.045rem;
  line-height: 1.18;
  margin-bottom: $margin;
}

h2 {
  margin-bottom: $small-margin;
  font-weight: normal;
  letter-spacing: 0.05rem;
}

// h3
.subtitle {
  margin-bottom: $smaller-margin;
  line-height: 1.2;
}

h3,
.hero-button {
  font-size: $l_font-size;
  letter-spacing: -0.1px;
  font-weight: normal;
}

p {
  line-height: 1.9;
  &:only-of-type {
    margin-bottom: $bigger-margin;
  }
}

.small-p {
  margin-bottom: $big-margin !important;
  line-height: 1.6;
}

span,
.small-p {
  font-size: $m_font-size;
}

.button,
.hero-button {
  display: inline-block;
  padding: $smaller-margin $margin;
  border: $border;
  border-radius: $border-radius;
}

button,
input {
  color: $main-black;
  background: none;
  font-size: 1rem;
  line-height: 1.5;
}

.button:hover {
  border-color: $main-blue;
  color: $main-blue;
}

.hero-button {
  padding-left: $big-margin;
  padding-right: $big-margin;
  font-weight: bold;
  border-color: $main-blue;
  color: $main-blue;
}

.shadow {
  box-shadow: $box-shadow;
}
